<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Race</title>
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body onkeypress="fun()">


    <div>

        <div class="maintxt">
            <div class="wrapper">
                <input type="text" class="input-field">
                <div class="content-box">
                    <div class="typing-text">
                        <p></p>
                    </div>
                    <div class="content">
                        <ul class="result-details">
                            <li class="time">
                                <p>Time Left:</p>
                                <span><b>60</b>s</span>
                            </li>


                        </ul>
                        <button>Change</button>
                    </div>

                </div>
            </div>


        </div>
        <div class="keyboard" onkeypress="fun()">
            <div class="keyboard__row">

                <div class="key--letter" data-char="Q">Q</div>
                <div class="key--letter" data-char="W">W</div>
                <div class="key--letter" data-char="E">E</div>
                <div class="key--letter" data-char="R">R</div>
                <div class="key--letter" data-char="T">T</div>
                <div class="key--letter" data-char="Y">Y</div>
                <div class="key--letter" data-char="U">U</div>
                <div class="key--letter" data-char="I">I</div>
                <div class="key--letter" data-char="O">O</div>
                <div class="key--letter" data-char="P">P</div>
            </div>
            <br>
            <div class="keyboard__row">

                <div class="key--letter" data-char="A">A</div>
                <div class="key--letter" data-char="S">S</div>
                <div class="key--letter" data-char="D">D</div>
                <div class="key--letter" data-char="F">F</div>
                <div class="key--letter" data-char="G">G</div>
                <div class="key--letter" data-char="H">H</div>
                <div class="key--letter" data-char="J">J</div>
                <div class="key--letter" data-char="K">K</div>
                <div class="key--letter" data-char="L">L</div>


            </div>
            <br>
            <div class="keyboard__row">
                <div class="key--letter" data-char="Z">Z</div>
                <div class="key--letter" data-char="X">X</div>
                <div class="key--letter" data-char="C">C</div>
                <div class="key--letter" data-char="V">V</div>
                <div class="key--letter" data-char="B">B</div>
                <div class="key--letter" data-char="N">N</div>
                <div class="key--letter" data-char="M">M</div>


            </div>

        </div>
    </div>
    <script src="/js/words.js"></script>
    <script src="/js/script.js"></script>
</body>
<script>
    function fun() {
        let u = event.which;
        var str = String.fromCharCode(u);
        var key = document.querySelector('[data-char*="' + str.toUpperCase() + '"]');
        key.setAttribute('data-pressed', 'on');
        setTimeout(function() {
            key.removeAttribute('data-pressed');
        }, 200);

    }
</script>

</html>